/* для маленьких мониторов (ноутбуков). Выше 1200px вступают в силу основные css-свойства описанные вв файле style.css - тоесть это уже 
обычная десктопная версия сайта */


/* Эти свойства вступают в силу если ширина экрана меньше 1200 px */
/* Если например задать свойство тут, на медиазапросе в 1200 px, то жто свойство будет работать от 0 до 1200px. Такой вот принцып работы */

@media screen and (max-width:1199px) {
    .container {
        max-width: 1100px;
    }
    .box__btn {
        width: 90px;
    }
}

/* для планшетов (горизонтальное положение) */

@media screen and (max-width:991px) {
    
    .logo-left__img {
        display: none;
    }
    .logo-left__mini {
        display: block;
    }
    .logo-left__mini-img {
        width: 93px;
        height: 100px;
    }
}

/* Для планшеттов (вертикальное положение) и телефонов в горизонтальном положении */

@media screen and (max-width:767px) {
    .box__btn {
        display: none;
    }
    .container {
        width: 100%;
        padding: 10px 20px 0;
    }
}

/* для телефонов (от 320px (тоесть от самых маленьких экранов) до 575 px */

@media screen and (max-width:575px) {
    .item__img {
        width: 100%;
    }
}

/* завершить адаптацию сайта */
/* в процессе... */
