/* для маленьких мониторов (ноутбуков) */

@media screen and (max-width:1200px) {
    .container {
        max-width: 1100px;
    }
    .box__btn {
        width: 90px;
    }
}

/* для планшетов */

@media screen and (max-width:1100px) {
    
    .logo-left__img {
        display: none;
    }
    .logo-left__mini {
        display: block;
    }
    .logo-left__mini-img {
        width: 93px;
        height: 100px;
    }
}

@media screen and (max-width:770px) {
    .box__btn {
        display: none;
    }
}

/* для телефонов */
/* в процессе... */
