/* css rules - google-fonts */

/* font-family: 'Barlow Semi Condensed', sans-serif; - heading */

/* font-family: 'Quattrocento Sans', sans-serif;  - text */ 

body {
    min-width: 1300px;
}


/* WRAPPER */
/* блок ограничивающий контент (оболочка) */
.wrapper-car-site {
    width: 80%;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    padding: 0 20px;
}


/* HEADER */

.car-site__header-sticky {
    padding-top: 20px;
    display: grid;
    grid-template: 100px / 1fr 2fr;
    
}

/* logo */

.logo-left__img {
    width: 300px;
    height: 100px;
}



/* items inside header (grid elements) */

.header-sticky__center {
    align-self: end;
    justify-self: center;  
    position: relative;
    left: 16%;
}

.center__links {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr; /*1 строка \ 3 колонки*/
    column-gap: 20px;
    font-size: 28px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}



/* buttons inside CENTER BLOCK */

.box__btn {
    width: 100px;
    height: 38px;
    border: none;
    border-radius: 3px; /*сглаживание углов кнопки*/
    text-transform: uppercase;
    color: black;
    font-style: bold;
    background-color: #39d4b2;
    
    transition: ease-out 0.4s; /*стиль и плавность самого перехода*/
}

.box__btn:hover {
    box-shadow: inset 100px 0px 0px 0px rgb(255, 255, 255); /*при hover - наведении 
    1 значение ставлю равной длинне самой кнопки (inset создает shadow ынутри кнопки)*/
    color: black;
    cursor: pointer;
}

/* hiden boxes inside buttons */

.hidden-box-1, .hidden-box-2, .hidden-box-3 {
    z-index: 10;
    display: none;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    background-color: #f8a55d;
    text-align: center;
    transition: opacity 1s linear;
}


/* social grid element */

.header-sticky__right-about-us {
    justify-self: end;
    align-self: end;
}





/* MAIN BLOCK STYLES */


.main {
    margin-top: 100px;
}

/* SLIDE SHOW */

.slide-show__item {
    
}

.item__img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

/* слайдер   */  
/* ВАЖНО!!! все ниженаписанные классы были созданы файлом slick.min */
.slick-slider {}

/* ограничивающая оболочка самого слайдера */
.slick-list {
    overflow: hidden; /*устанавливаю это свойство чтобы скрыть лишние части картинок (при активном одном 
    активном слайде виден кусочек другого сладйа)*/
    /* owerflow управляет отображением содержания блочного елемента */
}

/* лента слайдов */
.slick-track {
    display: flex; /*выстраиваю элементы слайда с помощью flexbox*/
}

/* CТРЕЛКИ СЛАЙДЕРА */

.main__slide-show {
    position: relative;
}

/* общие стили для стрелок */
.main__slide-show .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10; /*повышаю z - index для того чтобы были видны кнопки, если этого не сделать они будут 
    прятатся за самой картинкой*/
    font-size: 0; /*для того чтобы убрать текст и заменить его в последствии на икоку*/
    width: 50px;
    height: 50px;
    border: none;
}

/* стиль для стрелки PREV */

.main__slide-show .slick-prev {
    left: 0;
    background: url(ico/arrows/prev-arrow.svg) no-repeat;
}


/* стиль для стрелки NEXT */
.main__slide-show .slick-next {
    right: 0;
    background: url(ico/arrows/next-arrow.svg);
}

/* ТОЧКИ ПОД СЛАЙДЕРОМ */

.main__slide-show .slick-dots {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.main__slide-show .slick-dots li  {
    margin: 20px 10px;
    
}

.main__slide-show .slick-dots li button {
    font-size: 0;
    
    border-color: rgb(19, 18, 18);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.main__slide-show .slick-dots .slick-active button {
     background-color: silver;
}

/* _________________________ FOOTER _______________________________________ */  

.footer {
    width: 100%;
    
    text-align: center;
    margin-top: 30px;
}


/* social */
.footer__links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0;
    
}

.social-1, .social-2 {
    margin-right: 20px;
}



.icon-link__img {
    width: 24px;
    height: 24px;
}

